.carousel-item {
    height: 350px; /* Adjust the height as needed */

}
body{
      width:100%;
      height: 100vh;
     
    }
    .row{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
    }
    .col{
        width: 100%;
        height: 100%;
        background-image: url("IMAGES/note.png");
        background-repeat: no-repeat;
        background-size: 100% 105%;
        padding-bottom: 30px;
        padding-top: 40px;
        border: none;
    }
    .card{
        background: none;
        border: none;
        
    }
    .card-body p{
        color: black;
    }
    .card-title{
        font-size: 20px;
    }
    .card-text{
        font-size: 11px;
    }
    .carousel{
        margin-bottom: 10px;
        border-bottom: 2px solid;
    }
