.main{
    width:100%;
    height: 100vh;
    position: relative;
    background-image: url("IMAGES/hair2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.navi{
    position: fixed;
    width: 100%;
    z-index: 100;
    color: rgb(20, 20, 20);
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    height: 11vh;
    background-color: rgb(50, 63, 75);

}
.nav-item:hover{
    background-color: rgba(237, 188, 188, 0.1);
    border-radius: 19px;
}
.nav-item{
   font-size: 12px;
   margin-right: 3px;
   padding: 1px;
}
.navi a{
    text-decoration: none;
    color: rgb(249, 246, 246);
    font-size: 13px;
}
.image-container {
    display: block;
    position: fixed;
    max-width: 100%;
    width: 40%;
    left: 0%;
    height: 100vh;

}

  
  /* For desktop screens */
  @media only screen and (min-width: 745px) {
    .image-container img {
      display: block; /* Show the image */
    }
  }
  
  /* For phone screens */
  @media only screen and (max-width: 744px) {
    .image-container img {
        display: none;
      }
    .rest{
        position: absolute;
        left: 0;
        width:90%;
    }
    .media{
        width:110%;
    }
    .p1{
        width:100%;
    }
    
  }
  @media screen and (max-width: 744px) {
   
    .navi{
        background-color: rgb(50, 63, 75);
    }
  }

.rest{
    display: flex;
    flex-direction:row;
    height: 100vh;
    justify-content: space-between;
    width: 57%;
    position: absolute;
    right: 0%;
    margin-top: 55px;
   
}
.p1{
    color:rgb(208, 116, 116);
    margin: 7% 5% 7% 5%;
    padding:0px 0px 7px 0px;
   
}
h5{
    font-size:40px ;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
    color:rgb(242, 241, 241);
}
h6{
    font-size:25px ;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}
.combine{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7em;
    background-color: #EBC4B2;;
    width:94px;
    height: 94px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border:solid;
    border-width: 2px;
    border-color: rgb(252, 252, 252);
    max-width: 100%;
    color: black;
    text-align: center;
    padding: 2px;
}
.start{
    margin-top:10px;
    border:none;
    outline: none;
    width:180px;
    height: 40px;
    background-color: black;
    color:white;
    font-size:13px ;
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(244, 244, 244, 0.2);
}
.start:hover{
    background-color: rgb(55, 55, 55);
}
.start:active{
    border:none;
    outline: none;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.col{
    background-color: white;
    margin:15px;
    width:200px;
    height: 150px;
    border-radius: 12px;
    border:2.5px solid;
    border-color: black;
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
    
}
.row{
    margin: 5px;
}
.rate{
    margin-top: 12px;
}
.rateB{
    outline: none;
    border: none;
    margin: auto;
    background-color: white;
    width:30px;
    padding: 2px;
    text-align: center;
}
.rateB:focus{
    outline: 2px;
    border: 2px solid;
}
.next{
    margin-top:10px;
    border:none;
    outline: none;
    width:100px;
    height: 40px;
    background-color: black;
    color:white;
    font-size:13px ;
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    border-radius: 20px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); 
}
.next:hover{
    background-color: rgb(55, 55, 55);

}




